<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="./libs/fullpage.css")
        link(rel="stylesheet", href="css/main.css")
        
    body
        aside.side-player
            svg.side-player__icon(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M14.8787 14.8787C15.4413 14.3161 16.2043 14 17 14H21C21.5523 14 22 14.4477 22 15V17C22 17.7957 21.6839 18.5587 21.1213 19.1213C20.5587 19.6839 19.7957 20 19 20H17C16.2043 20 15.4413 19.6839 14.8787 19.1213C14.3161 18.5587 14 17.7957 14 17C14 16.2044 14.3161 15.4413 14.8787 14.8787ZM17 16C16.7348 16 16.4804 16.1054 16.2929 16.2929C16.1054 16.4804 16 16.7348 16 17C16 17.2652 16.1054 17.5196 16.2929 17.7071C16.4804 17.8947 16.7348 18 17 18H19C19.2652 18 19.5196 17.8947 19.7071 17.7071C19.8946 17.5196 20 17.2652 20 17V16H17ZM2.87868 16.8787C3.44129 16.3161 4.20435 16 5 16H9C9.55228 16 10 16.4477 10 17V19C10 19.7957 9.68393 20.5587 9.12132 21.1213C8.55871 21.6839 7.79565 22 7 22H5C4.20435 22 3.44129 21.6839 2.87868 21.1213C2.31607 20.5587 2 19.7957 2 19C2 18.2044 2.31607 17.4413 2.87868 16.8787ZM5 18C4.73478 18 4.48043 18.1054 4.29289 18.2929C4.10536 18.4804 4 18.7348 4 19C4 19.2652 4.10536 19.5196 4.29289 19.7071C4.48043 19.8947 4.73478 20 5 20H7C7.26522 20 7.51957 19.8947 7.70711 19.7071C7.89464 19.5196 8 19.2652 8 19V18H5Z')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M21.6464 2.23699C21.8707 2.42699 22 2.70606 22 3.00001V15C22 15.5523 21.5523 16 21 16C20.4477 16 20 15.5523 20 15V4.18047L10 5.84713V17C10 17.5523 9.55228 18 9 18C8.44772 18 8 17.5523 8 17V5.00001C8 4.51117 8.35341 4.09398 8.8356 4.01361L20.8356 2.01361C21.1256 1.96529 21.4221 2.04698 21.6464 2.23699Z')
            svg.side-player__tracks(width='25' height='25' viewbox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M21.875 7.29166H8.33337C7.70837 7.29166 7.29171 6.87499 7.29171 6.24999C7.29171 5.62499 7.70837 5.20832 8.33337 5.20832H21.875C22.5 5.20832 22.9167 5.62499 22.9167 6.24999C22.9167 6.87499 22.5 7.29166 21.875 7.29166Z')
                path(d='M21.875 13.5417H8.33337C7.70837 13.5417 7.29171 13.125 7.29171 12.5C7.29171 11.875 7.70837 11.4583 8.33337 11.4583H21.875C22.5 11.4583 22.9167 11.875 22.9167 12.5C22.9167 13.125 22.5 13.5417 21.875 13.5417Z')
                path(d='M21.875 19.7917H8.33337C7.70837 19.7917 7.29171 19.375 7.29171 18.75C7.29171 18.125 7.70837 17.7083 8.33337 17.7083H21.875C22.5 17.7083 22.9167 18.125 22.9167 18.75C22.9167 19.375 22.5 19.7917 21.875 19.7917Z')
                path(d='M3.12504 7.29166C3.02087 7.29166 3.02087 7.29166 2.91671 7.29166C2.81254 7.29166 2.81254 7.29166 2.70837 7.18749C2.60421 7.18749 2.60421 7.08332 2.50004 7.08332C2.39587 7.08332 2.39587 6.97916 2.39587 6.97916C2.29171 6.87499 2.18754 6.77082 2.18754 6.66666C2.08337 6.56249 2.08337 6.35416 2.08337 6.24999C2.08337 6.14582 2.08337 5.93749 2.18754 5.83332C2.29171 5.72916 2.29171 5.62499 2.39587 5.52082C2.70837 5.20832 3.12504 5.10416 3.54171 5.31249C3.64587 5.41666 3.75004 5.41666 3.85421 5.52082C4.06254 5.72916 4.16671 5.93749 4.16671 6.24999C4.16671 6.56249 4.06254 6.77082 3.85421 6.97916C3.64587 7.18749 3.43754 7.29166 3.12504 7.29166Z')
                path(d='M3.12504 13.5417C2.81254 13.5417 2.60421 13.4375 2.39587 13.2292C2.18754 13.0208 2.08337 12.8125 2.08337 12.5C2.08337 12.3958 2.08337 12.3958 2.08337 12.2917C2.08337 12.1875 2.08337 12.1875 2.18754 12.0833C2.18754 11.9792 2.29171 11.9792 2.29171 11.875C2.29171 11.7708 2.39587 11.7708 2.39587 11.7708C2.50004 11.6667 2.60421 11.5625 2.70837 11.5625C3.12504 11.3542 3.54171 11.4583 3.85421 11.7708L3.95837 11.875C3.95837 11.9792 4.06254 11.9792 4.06254 12.0833C4.06254 12.1875 4.06254 12.1875 4.16671 12.2917C4.16671 12.3958 4.16671 12.3958 4.16671 12.5C4.16671 12.8125 4.06254 13.0208 3.85421 13.2292C3.64587 13.4375 3.43754 13.5417 3.12504 13.5417Z')
                path(d='M3.12504 19.7917C2.81254 19.7917 2.60421 19.6875 2.39587 19.4792C2.18754 19.2708 2.08337 19.0625 2.08337 18.75C2.08337 18.6458 2.08337 18.4375 2.18754 18.3333C2.29171 18.2292 2.29171 18.125 2.39587 18.0208C2.81254 17.6042 3.43754 17.6042 3.85421 18.0208C4.06254 18.2292 4.16671 18.4375 4.16671 18.75C4.16671 19.0625 4.06254 19.2708 3.85421 19.4792C3.64587 19.6875 3.43754 19.7917 3.12504 19.7917Z')
            svg.side-player__play(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M4.52081 2.12229C4.84189 1.947 5.23305 1.96101 5.54076 2.15882L19.5408 11.1588C19.827 11.3428 20 11.6597 20 12C20 12.3403 19.827 12.6572 19.5408 12.8412L5.54076 21.8412C5.23305 22.039 4.84189 22.053 4.52081 21.8777C4.19974 21.7024 4 21.3658 4 21V3C4 2.63419 4.19974 2.29758 4.52081 2.12229ZM6 4.83167V19.1683L17.1507 12L6 4.83167Z')
            div.side-player__volume
                div.side-player__runner
        header.header
            svg.header__button(width='25' height='25' viewbox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M2.08325 12.5C2.08325 11.9247 2.54962 11.4583 3.12492 11.4583H21.8749C22.4502 11.4583 22.9166 11.9247 22.9166 12.5C22.9166 13.0753 22.4502 13.5417 21.8749 13.5417H3.12492C2.54962 13.5417 2.08325 13.0753 2.08325 12.5Z')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M2.08325 6.25001C2.08325 5.67471 2.54962 5.20834 3.12492 5.20834H21.8749C22.4502 5.20834 22.9166 5.67471 22.9166 6.25001C22.9166 6.82531 22.4502 7.29168 21.8749 7.29168H3.12492C2.54962 7.29168 2.08325 6.82531 2.08325 6.25001Z')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M2.08325 18.75C2.08325 18.1747 2.54962 17.7083 3.12492 17.7083H21.8749C22.4502 17.7083 22.9166 18.1747 22.9166 18.75C22.9166 19.3253 22.4502 19.7917 21.8749 19.7917H3.12492C2.54962 19.7917 2.08325 19.3253 2.08325 18.75Z')
            nav.nav
                ul.nav__list
                    li.nav__item
                        a.nav__link(href="#home")
                            svg.nav__home(width='25' height='25' viewbox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M11.8604 1.26108C12.2366 0.968515 12.7633 0.968515 13.1394 1.26108L22.5144 8.55275C22.7682 8.7501 22.9166 9.05354 22.9166 9.37499V20.8333C22.9166 21.6621 22.5873 22.457 22.0013 23.043C21.4152 23.6291 20.6204 23.9583 19.7916 23.9583H5.20825C4.37945 23.9583 3.58459 23.6291 2.99854 23.043C2.41249 22.457 2.08325 21.6621 2.08325 20.8333V9.37499C2.08325 9.05354 2.23166 8.7501 2.4854 8.55275L11.8604 1.26108ZM4.16659 9.88445V20.8333C4.16659 21.1096 4.27633 21.3745 4.47168 21.5699C4.66703 21.7652 4.93199 21.875 5.20825 21.875H19.7916C20.0679 21.875 20.3328 21.7652 20.5282 21.5699C20.7235 21.3745 20.8333 21.1096 20.8333 20.8333V9.88445L12.4999 3.40297L4.16659 9.88445Z')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M8.33325 12.5C8.33325 11.9247 8.79962 11.4583 9.37492 11.4583H15.6249C16.2002 11.4583 16.6666 11.9247 16.6666 12.5V22.9167C16.6666 23.492 16.2002 23.9583 15.6249 23.9583C15.0496 23.9583 14.5833 23.492 14.5833 22.9167V13.5417H10.4166V22.9167C10.4166 23.492 9.95022 23.9583 9.37492 23.9583C8.79962 23.9583 8.33325 23.492 8.33325 22.9167V12.5Z')
                    li.nav__item
                        a.nav__link(href="#news")
                            svg.nav__news
                    li.nav__item
                        a.nav__link(href="#radio")
                            svg.nav__radio
        main#fullpage
            section.section#home
            section.section#news
                .slide(data-anchor='slide1')
                .slide(data-anchor='slide2')
            section.section#radio
            section.section#contacts

    script(src='./libs/jquery.js')
    script(src='./libs/fullpage.js')
    script(src='./js/main.js')