$maincolor: #FF7B1C;

@mixin player-svg{
    cursor: pointer;
    fill: black;
    transition: all 0.3s ease;
    &:hover { 
        fill: white;
        transform: scale(1.15);
    }
}
@mixin header-svg{
    cursor: pointer;
    fill: white;
    transition: all 0.3s ease;
    &:hover { 
        fill: $maincolor;
    }
}
@mixin button{
    position: relative;
    height: 100px;
    width: 200px;
    background: $maincolor;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15em;
    color: #f3f3f3;
    cursor: pointer;
    user-select: none;
    &__switch{
        position: relative;
        left: 28px;
        height: 37px;
        width: 1px;
        background: #F3F3F3;
        display: flex;
        justify-content: center;
    }
    &__runner{
        position: absolute;
        margin-top: 28px;
        width: 5px;
        height: 16px;
        background: #F3F3F3;
    }
    &__text{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 130%;
        margin-left: 66px;
    }
}
@mixin title{
    position: relative;
    font-family: 'Raleway-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 101.5%;
    /* or 65px */
    letter-spacing: 0.035em;
    color: #F3F3F3;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    transition: all 0.3s ease;
}
@mixin text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    text-align: right;
    letter-spacing: 0.05em;
    color: #000000;
    white-space: nowrap;
}

.section{
    position: relative;
    width: 1920px;
    height: 960px;
    background: #171717;
    mix-blend-mode: normal;
}
p,span,ul,h1,h2,h3,h4{
    padding:0;
    margin:0;  
}
.side-player{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 101px;
    background: $maincolor;
    z-index: 1;
    .side-player__icon{
        @include player-svg;
        margin-top: 40px;
    }
    .side-player__tracks{
        @include player-svg;
        margin-top: 82px;
    }
    .side-player__play{
        @include player-svg;
        margin-top: 100px;
    }
    .side-player__volume{
        height: 321px;
        width: 0px;
        position: relative;
        display: flex;
        justify-content: center;
        border: 1px solid #000000;
        margin-top: 25px;
        right: 3px;
        .side-player__runner{
            height: 34px;
            border: 5px solid #000000;
            margin-top: 29px;
            cursor: pointer;
            transition: all 0.5s ease;
            &:hover{
                border: 5px solid white;
                transform: scale(1.1);
            }
        }
    }
}
.header{
    padding-bottom: 100px;
    box-sizing: border-box;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 101px;
    background:#282828;
    z-index: 1;
    position: absolute;
    right: 0;
    .header__button{
        @include header-svg;
        margin-top: 36px;
    }
    nav{
        margin-top: 83px;
        .nav__list{
            display: flex;
            flex-direction: column;
            .nav__item{
                display: block;
                margin-top: 97px;
                width: 25px;
                &:nth-child(1){
                    margin-top: 0px;
                }
                .nav__link{
                    text-decoration: none;
                    svg{
                        @include header-svg
                    }
                }
            }
        }
    }
    .social{
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        height: 100%;
        padding-bottom: 30px;
        box-sizing: border-box;
        .social__link{
            margin-top: 43px;
            &:nth-child(1){
                margin-top: 0;
            }
            .social__facebook{
                @include header-svg;
            }
            .social__instagram{
                @include header-svg;
            }
        }
    }

    .button {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 5;
        width: 200px;
        min-height: 100px;
        background: $maincolor;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.15em;
        color: #f3f3f3;
        cursor: pointer;
        user-select: none;

        .button__switch {
            position: relative;
            left: 28px;
            height: 37px;
            width: 1px;
            background: #F3F3F3;
            display: flex;
            justify-content: center;
        }

        .button__text {
            text-align: center;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 150%;
            /* or 30px */
            text-align: right;
            letter-spacing: 0.05em;
            color: #000000;
            white-space: nowrap;
        }
    }
}
#home{
    .logo{
        position: absolute;
        display: block;
        left: 10.42%;
        top: 4.69%;
        font-size: 150px;
        font-family: 'Montserrat-Bold';
        line-height: 200px;
        letter-spacing: 0.025em;
        .main-color{
            color: $maincolor;
        }
        .white-color{
            color: white;
        }
    }
    .content{
        height: 415px;
        .ent{
            position: absolute;
            left: 10.42%;
            top: 33.33%;
            .ent__list{
                .ent__item{
                    margin-top: 32px;
                    color: #FFFFFF;
                    &:nth-child(1){
                        margin-top: 0;
                    }

                    .ent__link{
                        position: relative;
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 300;
                        font-size: 18px;
                        line-height: 102%;
                        letter-spacing: 0.025em;
                        text-decoration: none;
                        color: #FFFFFF;

                        &:hover {
                            color: $maincolor;
                            
                            &:after {
                                content: "";
                                position: absolute;
                                width: 100%;
                                height: 1px;
                                left: 50%;
                                bottom: -1px;
                                transform: translateX(-50%);
                                background-color: $maincolor;
                            }
                        }
                    }
                }
            }
        }
        .info{
            width: 760px;
            height: 322px;
            position: absolute;
            left: 50%;
            top: 33.02%;
            background: $maincolor;
            .info__title{
                @include title;
                bottom: 54px;
                text-align: right;
            }
            .info__text{
                @include text;
                position: absolute;
                left: 160px;
                bottom: 98px;
            }
        }
    }
    .bottom{
        .news-promo{
            position: absolute;
            width: 575px;
            height: 277px;
            left: 715px;
            top: 584px;
            background: url(../img/bdo-news-promo.png);
            cursor: pointer;
            &:hover{
                .news-promo__title{
                    color: $maincolor;
                }
            }
            .news-promo__title{
                @include title;
                top: 163px;
                right: 235px;
            }
            .news-promo__arrow{
                position: relative;
                left: 585px;
                top: 125px;
                fill: #f3f3f3;
            }
        }
        .news-button{
            @include button;
            left: 89.6%;
            top: 227px;
        }
    }
}
#news{
    .slider{
        width: 200vw;
        height: 100vh;
        display: flex;
        flex-wrap: nowrap;
        transition: all 0.5s ease;
        .all-news{
            width: 100vw;
            height: 100vh;
            .content{
                display: flex;
                flex-wrap: wrap;
                position: relative;
                top: 100px;
                .content__item{
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    margin-top: 50px;
                    &:nth-child(1){
                        margin-top: 0;
                        .content__picture{
                            background: url('../img/newspost1.png');
                        }
                    }
                    &:nth-child(2){
                        .content__picture{
                            background: url('../img/newspost2.png');
                        }
                    }
                    &:nth-child(3){
                        .content__picture{
                            background: url('../img/newspost3.png');
                        }
                    }
                    .content__picture{
                        height: 221px;
                        width: 517px;
                        margin-left: 80px;
                        &:hover{
                            cursor: pointer;
                            .content__title{
                                color: $maincolor;
                                transform: translateY(-30px);
                                cursor: pointer;
                            }
                        }
                        .content__title{
                            @include title;
                            text-align: right;
                            font-size: 48px;
                            top: 131px;
                            left: 245px;
                        }
                    }
                    .content__arrow{
                        fill: #f3f3f3;
                        position: relative;
                        top: 100px;
                        right: 67px;
                    }
                    .content__text{
                        @include text;
                        color: #F3F3F3;
                        margin-right: 80px;
                    }
                }
            }
            .bottom{
                .one-news-button{
                    @include button;
                    position: absolute;
                    left: 62.5%;
                    top: auto;
                    bottom: 0;
                    &__switch{
                        transform: rotate(-90deg);
                        top: 20px;
                        left: 53px;
                    }
                }
                .blog-button{
                    @include button;
                    top: 6px;
                    left: 89.6%;
                }
            }
        }
        .one-news{
            float: right;
            width: 100vw;
            height: 100vh;
            background: red;
        }
    }
}

#radio {
    .commun {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        .container {
            max-width: 1920px;
            display: flex;
            flex-direction: column;
            .header-radio {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 69px;
                width: 1520px;
                min-height: 90px;
                background: $maincolor;
        
                .header-radio__list {
                    display: flex;
                    .list__item {
                        display: flex;
                        padding-right: 206px;
        
                        .item__link {
                            position: relative;
                            font-family: 'Raleway';
                            font-style: normal;
                            font-size: 20px;
                            color: #F3F3F3;
                            text-decoration: none;
        
                            &:hover {
                                color: #171717;
                                &:after {
                                    content: "";
                                    position: absolute;
                                    width: 100%;
                                    height: 1px;
                                    left: 50%;
                                    bottom: -1px;
                                    transform: translateX(-50%);
                                    background-color: #171717;
                                }
                            }
                        }
        
                        &:nth-child(1) {
                            padding-left: 200px;
                        }
                    }
                }
            }
        
            .content {
                display: flex;
                margin-top: 105px;
                justify-content: space-between;
                flex-direction: row;
                .tracklist {
                    margin-left: 126px;
                    .tracklist__list {
                        width: 100%;
                        .list__item {
                            text-align: center;
                            list-style-type: none;
                            .item__link {
                                font-family: "Raleway";
                                font-style: normal;
                                font-weight: 600;
                                font-size: 20px;
                                text-decoration: none;
                                color: #F3F3F3;
                                line-height: 75px;
                                letter-spacing: 0.035em;
        
                                &:hover {
                                    color: $maincolor;
                                }
                            }
                        }
                    }
                }

                .hueta {
                    display: flex;
                    width: 243px;
                    flex-direction: column;
                    margin-left: 64px;
                    .hueta__block {
                        width: 243px;
                        height: 159px;

                        &:nth-child(1) {
                            background: #C4C4C4;
                        }
                        &:nth-child(2) {
                            background: #282828;
                        }
                    }
                }

                .block {
                    width: 761px;
                    height: 541px;
                    background: #E5E5E5;
                    border: 32px solid $maincolor;
                }
            }

            .bottom {
                .blog-button{
                    @include button;
                    top: 6px;
                    left: 89.6%;
                }
            }
        }
    }
}

#contacts {

    .my-cont {
        position: absolute;
        left: 677px;
        top: 246px;
        z-index: 1;
        font-family: "Raleway";
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 101.5%;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
        letter-spacing: 0.035em;
        color: #F3F3F3;
    }

    .content {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        left: 766px;
        bottom: 100px;
        width: 954px;
        height: 542px;
        background: #282828;
        
        .info {
            display: flex;
            flex-direction: column;
            .info__item {
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 116px;
                color: #F3F3F3;
                list-style-type: none;
                letter-spacing: 0.05em;

                &:nth-child(1) {
                    margin-top: 45px;
                    position: relative;
                    right: 141px;
                }
                &:nth-child(2) {
                    position: relative;
                    right: 107px;
                }
                &:nth-child(3) {
                    position: relative;
                    right: 112px;
                }


                svg {
                    cursor: pointer;
                    fill: white;
                    transition: all 0.3s ease;
                    &:hover { 
                        fill: $maincolor;
                    }
                }

                .email {
                    position: relative;
                    left: 50px;
                }

                .facebook {
                    position: relative;
                    left: 52px;
                }

                .instagram {
                    position: relative;
                    left: 50px;
                }
            }

            .tort {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 300;
                font-size: 20px;
                line-height: 150%;
                text-align: right;
                letter-spacing: 0.05em;
                color: #F3F3F3;
                padding-top: 127px;
                box-sizing: border-box; 
                position: relative;
                right: 83px;
            }
        }
    }

    .logo{
        position: absolute;
        display: block;
        left: 194px;
        bottom: 54px;
        font-size: 150px;
        font-family: 'Montserrat-Bold';
        line-height: 200px;
        letter-spacing: 0.025em;
        .main-color{
            color: $maincolor;
        }
        .white-color{
            color: white;
        }
    }
}